.corpoConteudo {
background-color: hsl(30, 38%, 92%);
}

.containerPrincipal {
    width: 1440px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerFoto {
    width: 700px;
    height: 700px;
    align-self: auto;
    position: relative; top: 84px; left: 66px;
}

.containerFoto__container {
    width: 400px;
    height: 500px;
    margin-right: -50px;
    padding: 0;
    border-radius: 10%;

}

.containerFoto__imagem {
    width: auto;
    height: 100%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.containerTexto {
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 500px;
    margin-left: -260px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}

.containerTitulo {
    width: auto;
    height: 50px;
    margin-bottom: 0px;
}

.tituloCabeçalho {
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
    position: relative; left: 50px;
    margin-top: 40px;
    width: auto;
    height: auto;
}

.tituloProduto {
    text-align: justify;
    font-family: 'Fraunces', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    width: 55%;
    height: 120px;
    position: relative; left: 50px; bottom: 30px;
    line-height: 1.1;
    color:hsl(212, 21%, 14%);
}

.tituloProduto__paragrafo {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:hsl(228, 12%, 48%);
    width: 70%;
    position: relative; left: 55px; bottom: 40px;
    line-height: 25px;
}

.valores {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    position: relative; bottom: 30px; right: 20px;
}

.valorProduto {
    font-family: 'Fraunces', sans-serif;
    color:  hsl(158, 36%, 37%);
    font-size: xx-large;
    display: inline-block;
    margin-right: 20px;
}

.valorProduto__antigo {
    font-family: 'Fraunces', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    width: auto;
    height: auto;
    align-self: center;
}

.containerBotao {
    width: auto;
    height: auto;
    position: relative; bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.containerBotao__botao {
    width: 72%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border-color: hsl(158, 36%, 37%);
    border-radius: 5%;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

.containerBotao__icone {
    width: 12px;
    height: auto;
    display: inline;
    position: relative; top: 38px; left: 60px;
} 
