
.corpoConteudo {
    background-color: hsl(212, 45%, 89%)
}

.containerPrincipal {

    background-color: hsl(0, 0%, 100%);
    width: 260px;
    height: 400px;
    padding: 5px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__qr-codeContainer {
    margin: 0;
    padding: 0;
    position: relative; bottom: 8px;
    border-radius: 10%;
}

.qr-code {
    width: 240px;
    height: 240px;
    border-radius: 10%;
}

.container__texto {
    margin: 0;
    padding: 0;
    position: relative; bottom: 20px;
    width: 67.9%;
}

.container__texto--principal {
    margin: 0;
    padding: 0;
    width: auto;
}

.container__textoTitulo {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
}

.container__textoParagrafo {
    width: auto;
    text-align: justify;
    font-size: 12.4px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.containerCredito {
    font-family: 'Outfit' sans-serif;
    font-size: 10px;
    color: hsl(218, 44%, 22%)
}